parameters:
    level: 8
    checkMissingIterableValueType: false

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - '#Parameter .+ of method .+Transfer::.+\(\).+ given.#'
        - '#Binary operation .+ results in an error.#'

    reportUnmatchedIgnoredErrors: false
