parameters:
    level: 8

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - '#Parameter .+ of method .+Transfer::.+\(\).+ given.#'
        - '#Binary operation .+ results in an error.#'
        - '#no value type specified in iterable type#'

    reportUnmatchedIgnoredErrors: false
